/* @import url('https://fonts.googleapis.com/css?family=Tangerine'); */
@import './index.css';
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* globals  */
body {
  padding-top: 50px;
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.4;
}
/* header css starts here */
.header{
  text-align: center;
}
.header h6{
  padding: 0px 0px 15px 0px;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.header div{
  padding: 5px 0px 20px 0px;
}
.header p{
  color: rgb(141, 136, 136);
  padding: 10px 0px 30px 0px;
  font-style: oblique;
  font-size: 17px;
}
.header span{
  text-transform: uppercase;
  font-weight: bold;
  font-family: Tahoma'Vollkorn', serif;
  font-size: 50px;
  line-height: 60px;
  padding: 7px 0px 4px 0px;
}
.header-overlay{
  background:  rgb(209, 114, 187);
}
/* header css ends here */

/* Footer css starts here */
.footer{
  padding: 20px 40px 40px 70px;
}
.footer-info h2{
  color: rgb(66, 66, 66);
  padding-bottom: 10px;
  text-transform: uppercase;
  font-family:  Tahoma'Vollkorn', serif;
  font-weight: bold;
}
.footer-info p{
  color: rgb(107, 103, 103);
  line-height: 35px;
}
.footer-header{
  background-color: rgb(209, 114, 187);
}
.footer-address{
  padding-top: 25px;
  padding-left: 90px;
 
}
.footer-address p{
  display: flex;
  font-weight: bold;
   padding: 10px;
   color: rgb(82, 81, 81);
}
.footer-address p span{
  padding-right: 20px;
}
.footer-icon{
  color: rgb(226, 61, 188);
  font-size: 30px;
}
.footerbottom{
  background-color: rgb(39, 35, 35);
  height: 80px;
}

.footerbottom p{
  color: white;
  text-align: center;
  padding-top: 25px;
}
.footerbottom span{
  color: rgb(226, 61, 188);
}
 
/* footer css ends here */

/* Navbar */
 .navbar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--offWhite);
  z-index: 1;
  padding: 25px;
  background-color: rgb(71, 67, 67);   
}

.parttwo{
  float: right;
  padding-right: 0%;
  top: -35px;
  position: relative;
}

.nav-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  float: right;
}
.nav-icon {
  font-size: 1.5rem;
  color: rgb(8, 7, 7);
  margin-top: 5px;

}
.nav-links {
  height: 0;
  overflow: hidden;
  transition: var(--mainTransition);
  list-style-type: none;
  
}
.nav-links a {
  display: block;
  text-decoration: none;
  color: white;
  transition: var(--mainTransition);
  text-align: left;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: var(--mainSpacing);
  padding-top: 30px;
}
.nav-links :hover {
  color: rgba(223, 51, 157, 0.562);
}

.show-nav {
  height: 50px;
  overflow: var(--mainBlack);
}
.nav-links li:hover{
  background-color:  rgb(224, 116, 199);
  padding: auto;
}
@media screen and (min-width: 900px) {
  .nav-btn {
    display: none;
  }
  .nav-center {
    max-width: 100%;
    /* margin: 0 auto; */   
  }
 
  .nav-links {
    height: auto;
    display: flex;
    background: none;
    /* margin-left: 4rem; */
  }
  
  .nav-links a {
    margin: 0 1rem;
    padding: 0.5rem 0;
    /* padding-right: 30px; */
  }
}  

/* dropdown . this is the beginning of navbar of each elemnt in the navbar*/

.dropbtn{
  background-color:transparent;
  position: relative;
  padding: 16px;
  font-size: 16px;
  border: none;
  color: white;
  font-weight: bold;
  top: -15px;

}
.dropdown{
  display: inline-block;
  justify-items: left;
  padding: 0%!important;
  /* overflow:20% !important; */
}
.dropdown-content{
  display: none;
  position:absolute;
  min-width: 160px;
  justify-items: left;
  padding: 0%!important;
  /* box-shadow: 0px 8px 16px 0px  rgba(0, 0, 0, 0.3); */
  z-index: 1;
}
.dropdown-content a{
  color: white;
  padding: 12px 16px 10px 20px;
  background-color: rgb(71, 70, 70);
  text-decoration: none;
  display: block;
  /* padding-left: 0px!important; */
  position: relative;

}
.dropdown-content a:hover{
  background-color: rgb(224, 116, 199);
  
}
.dropdown:hover .dropdown-content{
  display: block;
  
}
/* end of dropdown of each element in the navbar */


.banner{
 text-align:center;
 color: black;
 font-weight: bolder;
 top: -500px;
 position:relative; 
}
.banner p{
  font-family: 'Tangerine', serif;
  text-shadow: 4px 4px 4px #aaa;
  font-size: 30px;
  color: rgb(224, 116, 199);;
  font-weight: bold;
}
.banner-overlay{
  background-color:  rgb(71, 67, 67);
  height: 100px;
}
.banner h1{
  font-family: 'Anton', sans-serif;
  font-size: 70px;
  color: white;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-shadow: 2px 2px 1px rgb(151, 44, 116);
  font-weight: bold;
  
}
 
.btn-primary {
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  font-weight: bold;
  color: white;
  background: rgb(224, 116, 199);
  padding: 0.4rem 0.9rem;
  border:1px solid rgb(122, 111, 111);
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
}
.btn-primary:hover {
  background: transparent;
  color: rgb(248, 51, 248);
  font-weight: bold;
  
}
.section-center{
  position: relative;
  top:-430px;
  padding: 0px 100px 10px 40px;
  grid-row-gap: 2rem;
  grid-column-gap: 80px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
}

.service-img{
  padding: 20px 10px 5px 35px;
  width: 100%;
}
.service-about{
  padding-top: 30px;
}
.service-about h5{
  line-height: 34px;
  color: rgb(134, 128, 128);
  font-size: 15px;
  padding-bottom: 30px;
}

/* css class for section1 */
.sectionone{
  position: relative;
  top: -300px;
  min-height: 400px;
  background: url("./images/image8.png") center/cover no-repeat;
  width: 100%;

}
.sectionone1{
  padding-top: 30px;
}
.sectionone-slider{
  overflow: hidden;
}
.sectionone h1{
  text-align: center;
  padding-top: 50px;
}
.secttionone-slide{
  text-align: center;
}
/* end of section1 */
/* donation-section */
.donation{
  padding:0px 80px 0px 80px;
  top: -200px;
  position: relative;
}
.donation-one{
  text-transform: uppercase;
  font-weight: bold;
  font-family: Tahoma'Vollkorn', serif;
  font-size: 50px;
  line-height: 50px;
}
.donationp{
  color: rgb(141, 136, 136);
  padding: 10px 0px 30px 0px;
  font-style: oblique;
  font-size: 17px;
}
.donation-image{
  border-radius: 50%;
}
.donation-section{
  background: #833ab4; 
  background: -webkit-linear-gradient(to right, #fcb845, #fd1dfd, #9c0b7a);
  background: linear-gradient(to right, #fcb845, #fd1dfd, hsl(320, 78%, 23%));
  position: relative;
  top: -100px;
}
.donation-cell{
  padding:20px 50px 30px 7%;
  
}
.donation-cell p{
  color: rgb(221, 213, 213);
}
.donation-button{
  padding:7% 25px !important;
  letter-spacing: 5px;
  font-size: bold;
    
}
.image-slider {
  position:relative;
  width: 100%;
  overflow: hidden;
  top: -170px;
  /* height: 150vh; */
} 
.sliding-image{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
  /* .slides{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  } */

/* .background-banner{
  position: absolute;
  text-align: center;
  top: -50px !important;
  
} */

.blogs-section{
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
  padding: 0px 50px 80px 50px;

}
.event{
  background:linear-gradient(180deg, rgba(151, 73, 151, 0.443), rgba(141, 107, 12, 0.443)), url('./images/church2.png')  center/cover no-repeat;
}
.event-text{
  justify-content: center;
  text-align: center;
  padding: 60px 10px 40px 10px;
}
.event-text h2{
  font-family: 'Oswald';
}
.priest-slider{
overflow: hidden;
 width: 100%;
 height: 60vh;
}
.slick-dots{position: relative;
  top: 330px; 
}
.line hr{
  border-bottom: 2px solid rgb(197, 85, 188);
  width: 5%;
  color: rgb(197, 85, 188);
}
.dotted .full-line{
  border-top:1px thin white;
 margin: 3% 7% 4% 7% !important;
}
/* .slick-dots li button::before{
  font-family: 'slick';
  font-size: 15px;
  color: red;
  opacity: 0.7
}
.slick-dots li.slick-active::before{
  color: blue;
} */
.mapcontact{
  padding-top: 30px;
  
}
.mapcontact div{
  text-transform: uppercase;
  font-weight: bold;
  font-family: Tahoma'Vollkorn', serif;
  font-size: 45px;
  padding: 7px 0px 30px 0px;
}
.contact-overlay{
  background-color:  rgb(71, 67, 67);
  padding: 5px 0px 5px 0px;
}

.mapcontact-map{
  background-color: #cde6ce;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  
}
.mapcontact-contact{
  background-color: rgb(248, 51, 248);
  text-align: center;
  color: white;
  padding-top: 40px;
}

.mapcontact-contact p{
  font-family: 'Open Sans', sans-serif;
  font-style: oblique;
  text-transform: capitalize;
  color: rgb(228, 224, 224);
}
.inputfield{
  background: transparent;
  padding: 20px 0px 20px 5px;
  border: 2.5px solid white;
  width: 100%;
  color: white;
}
.inputfield:focus{
  border: 2.5px solid rgb(68, 65, 65);
}
.mapcontact-form{
  padding-bottom: 10px;
}
/* @media(max-width:700){
  body{
    display: none;
  }
} */
@media(max-width:768px){
  body{
   text-align: center!important;
  }
  .banner{
    top: -560px
  }
  .section-center{
    top:-650px;
  }

  .header span{
    font-size:30px;
  }
  .event1{
    text-align:center;
  }
}
@media(max-width: 800px){

}

/* @media screen and (max-width: 950px) {
  .section-center{
     display: inline-block;
  }
}
@media screen and (max-width: 1300px) {
  .service-about{
    margin:0;
    padding: 0;
  }
.section-center{
  top:-550px;
}

.section-button{
  margin-bottom: 20px;
}
} 
@media screen and (max-width: 1000px) {
  .donation-cell{
  padding:0;
  margin: 0;
}
.donation-button{
  margin-top: 40px !important;
  padding: 20px !important;
}
}
@media screen and (max-width: 800px) {
  .donation-button{
    margin-top: 0!important;
    
  }
} */